<h1>Grades</h1>

<div style="float: left; text-align: left">
    <th><h2>Student</h2></th> <br>
    {{#each students}}
        <tr class="grades">
            <td>{{lastname}}, {{firstname}}</td> <br>
        </tr>
    {{/each}}
</div>

<div style="display:inline-block; margin: 0 auto !important; text-align:left;">
    <th><h2>Points Earned</h2></th>
    {{#each points}}
        <td>{{@index}}/{{totalPoints}}</td> 
    {{/each}}
</div>