head {
    display: none;
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    display: block;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px
   }

div {
    display:block;
}

h1 {
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

ul {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

h4 {
    display: block;
    -webkit-margin-before: 1.33em;
    -webkit-margin-after: 1.33em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

input {
    padding: 4px 7px;
    
}

footer {

    display: block;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

.topnav {
    overflow: hidden;
    height: 100px;
    background-color: #1F487E;
}

.topnav a {
    float: left;
    color: #ddd;
    text-align: center;
    padding: 40px 30px;
    text-decoration: none;
    font-size: 17px;
    height: 100px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav logo {
    float: left;
    color: #ddd;
    text-align: center;
    padding: 9px 8px;
    text-decoration: none;
    font-size: 17px;
    height: 100px;
}

.topnav login {
    float: right;
    color: #ddd;
    text-align: left;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 17px;
    height: 100px;
}

.bgimg {
    background-image: url("https://www.apple.com/education/real-stories/images/luminary_2x.jpg");
    background-size: 1470px 810px;
    height: 700px;
}

.text-input{
    height:30px;
}

.register{
    font-size: 100px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #1F487E;
    color: white;
}

.createMenu{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding-left: 20px;
    padding-top:10px;
    width: 30%;
}

.createMenu button{
    background-color: #1F487E;
    height: 30px;
    color: white;
    font-size:17px;
}